@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Domingo Roof Works is a closed corporation based in Pretoria, in the Gauteng province.
    They specialise in turning lofts in houses into liveable rooms.
    Job types vary between simply fitting floorboards to full conversions with dormer windows, electrical fittings and staircases.
    When a customer requests a quotation, the work they want is classified by job type. One or more employee(s) will be assigned to the job.
    Each job will be allocated equipment and materials.
    Jobs are charged at a rate determined by the job type and how many days are needed to complete the job.
</p>
@*@{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>*@
