@{
    ViewData["Title"] = "Home Page";
}

<div class="text-md-center">
    <h1 class="display-4">DOMINGO ROOF WORKS</h1>

    </div>
  
 
    <div class="text-left">
            <h2>Welcome to Domingo Roof Works</h2>
            <p>
                This interface provides the user with various options such as create new and retrieve job cards, update job type daily rate,
                create and retrieve invoice for the customers, create, update and retrieve employee information.
            </p>
    
            <h2>Getting started</h2>
            <p>Domingo Roof Works web application makes it easy to add, remove, and update options and tools in Google Chrome.</p>

            <h2>More Features</h2>
            <p>You can easily find a company that offers the right mix of features and price for your installation at Domingo Roof Works.</p>
        
      <div>
          
          </div>
      </div>

@*<div class="row">
    <div class="col-md-4">
        <div class="text-lg-left">
            <h2>Welcome to Domingo Roof Works</h2>
            <p>
                This interface provides the user with various options such as create new and retrieve job cards, update job type daily rate,
                create and retrieve invoice for the customers, create, update and retrieve employee information.
            </p>
        </div>
    </div>

        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>Domingo Roof Works web application makes it easy to add, remove, and update options and tools in Google Chrome.</p>
        </div>
 
        <div class="col-md-4">
            <h2>More Features</h2>
            <p>You can easily find a company that offers the right mix of features and price for your installation at Domingo Roof Works.</p>
        </div>


        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>*@  